:root {
  --color-primario: #41431b;
  --color-secundario: #f8f3e1;
  --color-texto: #ffffff;
  --links-color: #aeb784;
  --links-hover-color: #e3dbbb;
  --navbar-color: #41431b;
  --highlight-color: #aeb784;
}
