:root{
    --color-primario: #a3b18a;
    --color-secundario: #588157;
    --color-texto: #ffffff;
    --links-color: #365e33;
    --links-hover-color: #3c9835;
    --navbar-color: #344e41;
    --highlight-color: #3c9835d0;
}
