:root{
    --color-primario: #2c2929;
    --color-secundario: #393838;
    --color-texto: #ffffff;
    --links-color: #365e33;
    --links-hover-color: #3c9835;
    --navbar-color: #202020f6;
    --highlight-color: #3c9835d0;
}
