@import url('./global.css');
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
display:flex;
flex-direction: column;
min-height: 100dvh;
background-color: var(--color-primario);
}

.container {
    background-color: var(--color-primario);
    color: var(--color-texto);
    display: flex;
    flex-direction: row;
    flex-grow:1;
    
}

.header {
    background-color: var(--navbar-color);
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 95vh;
    position: sticky;
    top: 0;
    padding: 20px;
}

.header h1 {
    font-family: 'Doto', sans-serif;
    font-size: 30px;
    padding-top: 45px;
    margin-bottom: 20px;
    color: var(--color-texto);
    text-align: center;
}

.navegador {
    display: flex;
    flex-direction: column;
    gap: 15px; 
    padding-top: 30px;
}

.navegador a {
    background-color: var(--color-secundario);
    padding: 1rem;
    color: var(--color-texto);
    text-decoration: none;
    font-size: 1.5rem;
    text-align:justify;
}

.main {
    flex-grow: 1; 
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer {
    background-color: var(--navbar-color);
    text-align: center;
    padding: 10px;
    color: var(--color-texto);
}

.menu-toggle {
        z-index: 1001;
        display: none;
        flex-direction: column;
        cursor: pointer;
        enable-background:rgb(241, 238, 238) ;
        border: none;
        padding: 10px;
    }

    .bar {
    width: 25px;
    height: 3px;
    background-color: white; 
    margin: 4px 0;
    transition: 0.4s;
    }

@media (max-width: 768px) {
    
    .menu-toggle {
        display: flex; 
        position: fixed;
        top: 15px;
        right: 15px;
        z-index: 1000;
    }

    .bar {
        width: 25px;
        height: 3px;
        background-color: white; 
        margin: 4px 0;
        transition: 0.4s;
    }

    .navegador {
        position: fixed;
        left: -100%; 
        top: 0;
        padding: 15px 20px;
        width: 250px;
        height: 100vh;
        flex-direction: column;
        background-color: #344e41;
        transition: 0.3s;
        z-index: 999;
    }

    .navegador a {
        padding: 20px;
        font-size: 1.2rem;
    }

    .navegador.active {
        left: 0;    
    }

    .container {
        flex-direction: column;
    }

    .header {
        width: 100%;
        height: auto;
        position: relative;
    }
    .main {
        padding: 20px;
    }
}